html {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    background-color: azure;
}

main {
    margin: 5% auto;
}

#heading {
    text-align: center;
}

#workspace {
    display: flex;
    border: 1px solid red;
    justify-content: space-evenly;
}

#draw-space-wrapper {
    background-color: cadetblue;
}

#draw-space {
    margin: 15px;
    height: 800px;
    width: 800px;
}

#menu {
    background-color: cadetblue;
    width: 500px;
    border: 1px solid blue;
}



#grid {
    background-color: cadetblue;
    display: grid;
    gap: 0;
}

.grid-cell {
    box-sizing: border-box;
    background-color: white;
    border: 1px solid red;
    user-select: none;
}

.grid-cell:hover {
    background-color: black;
}