:root {
    --draw-bg-color: #ffffff;
    --draw-color: #000000;
    --grid-border: none;
    --main-color: cadetblue;
}

html {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    background-color: azure;
}

main {
    margin: 2% auto;
}

#heading {
    text-align: center;
    margin-bottom: 2rem;
}

#workspace {
    display: flex;
    justify-content: space-evenly;
}

#draw-space-wrapper {
    background-color: var(--main-color);
}

#draw-space {
    margin: 15px;
    height: 800px;
    width: 800px;
}

#menu {
    background-color: var(--main-color);
    width: 500px;
}

#grid {
    background-color: var(--main-color);
    display: grid;
    gap: 0;
}

.grid-cell {
    box-sizing: border-box;
    background-color: var(--draw-bg-color);
    border: var(--grid-border);
    user-select: none;
}

.grid-cell:hover {
    background-color: var(--draw-color);
}